doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Welcome to BoConcept Family
    link(rel="stylesheet", href="/css/welcome.css", data-inline)
  body
    .containerHeader
      img(src="cid:welcomeImage", alt="background-img", srcset="")
      h1 Welcome to BoConcept
    .containerBody
      p Hello 
        strong #{fullName}.
        br
        br
      p.
        We are pleased to welcome you to the BoConcept family. 
        With a BoConcept account, you will be able to track your 
        orders, save your information to confirm them quickly and 
        receive the order proposals that you create with the staff of our stores.
      br
      br
      strong Go back to the application and start shopping
    .containerContact
      .contact
        h2 We are here to help you
        p.
          Please contact us in Denmark at +45 7013 138 or at boconceptmaja@gmail.com
      .disclaimer
        p.
          Do not reply to this message, as it was sent from an automated mailbox. 
          If you need more information or have any questions about your order, 
          please contact us using the above information.
